a{
	text-decoration: none;
	color: grey;
	display: block;
}

body{
	font-family: Arial, Helvetica, sans-serif, "Times New Roman";
	line-height: auto;
	background-image: url("./../images/br_nickel.png");
	background-color: #ebebeb;
	margin: 0px auto;
}


footer{
	clear:both;
	/*width: 900px*/;
	text-align: center;
	height: 80px;
	line-height: 80px;
	vertical-align: 50%;
	font-size: small;
	background-color: #555;
	padding-top: 5px;
	margin: 5px auto;
}

h1{
    font-size: 27px;
    font-weight: bold;
}

h2{
	color: #454687;
}

header{
	float: left;
	width: 75%;
}



#about, #contact, #portfolio {
	float: right;
	background-color: none;
	margin: 0px 10px;
	height: 20px;
	width: 75px;
	align-content: left;
}

#abtmetxt{
	border: 1px solid black;
	width: 100%;
}

.banner{
	height: 80px;
	background-color: #ebebeb;
	width: 100%;
	text-indent: 10%;
}

#connectbanner{
	line-height: 75%;
	text-indent: 10px;
	vertical-align: 50%;
	border-bottom: 3px solid #999;
}

#connectbanner, .icons{
	margin: 0px 15px;
}

#connectlinks{
	float: right;
	border: black solid 1px;
	margin-left: 25px;
	width: 30%;
}



.contentmain{
	clear:both;
	float:left;
	max-width: 60%;
	position: relative;
	margin-bottom: 10px;
	border: black solid 1px;
	/*background-color: #ebebeb;*/
}


.contentsub{
	margin: 0px 15px 10px 15px;
}

.contenttitle { 
	width: 100%;
	text-align: left;
	vertical-align: 50%;
	margin-bottom: 12px;
	line-height: 75%;
	border-bottom: 3px solid #999;
	text-indent: 10px;
}


#headshot {
	float: left;
	height: 300px;
	width: 200px;
	margin: 0px 10px 10px 0px;
	border: 1px solid black;
}

.icon {
	height: 45px;
	width: 45px;
	margin: 0px 10px;
}

.iconlnk{
	float:left;
}

.iconlnks

#nameblock{
	height: 100%
	width: 75%;
}

.navbutts{
	float: right;
}

.wrapper{
	height: 382px;
	margin: 20px 0px;
	border: solid black 1px;
}



